.nav {
  padding: 0;
  font-size: 0;
  background-color: #009688;
}
.nav .nav-tab {
  display: inline-block;
  padding: 10px 10px;
}
.nav .nav-tab .nav-tab-block {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.nav .nav-tab .nav-tab-block:hover {
  color: #000000;
}
.nav .active {
  background-color: gray;
}
